@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Effra Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f4f4f;
}

:root {
  --toastify-color-progress-light: linear-gradient(to right, #007bff, #8a2be2);
}